.category-route-container {
  .category-route-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }

  .title {
    font-size: 43px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
  }
}
